<div class="form-group @FormGroupClass">

    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="form-label text-muted small mb-0">@Label</label>
    }

    <input type="number"
           step="1"
           class="form-control @InputClass"
           value="@Value"
           @oninput="OnInput"
           placeholder="@Placeholder"
           disabled="@Disabled">
</div>

@code {
    [Parameter] public int Value { get; set; }
    [Parameter] public EventCallback<int> ValueChanged { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string InputClass { get; set; }
    [Parameter] public string FormGroupClass { get; set; }  

    private async Task OnInput(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var result))
        {
            Value = result;
            await ValueChanged.InvokeAsync(Value);
        }
    }
}