<div class="input-group mb-3 @FormGroupClass">

    <input type="@(_showPassword ? "text" : "password")"
           class="form-control @InputClass"
           value="@Value"
           @oninput="OnInput"
           placeholder="@Placeholder"
           disabled="@Disabled" />

    <div class="input-group-append">       

        <div class="input-group-text">
            <span class="fas @(_showPassword ? "fa-eye-slash" : "fa-eye")"></span>
        </div>

    </div>

</div>

@code {

    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter] public string Placeholder { get; set; } = "Senha";
    [Parameter] public string Icon { get; set; } = "fas fa-lock";

    [Parameter] public bool Disabled { get; set; }
    [Parameter] public string InputClass { get; set; }
    [Parameter] public string FormGroupClass { get; set; }

    private bool _showPassword;

    private void TogglePassword()
    {
        _showPassword = !_showPassword;
    }

    private async Task OnInput(ChangeEventArgs e)
    {
        Value = e.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }

}