@using Hiper.Erp.Apresentacao.Web.Handlers
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <AppInitializer>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                @if (routeData.PageType == typeof(Hiper.Erp.Apresentacao.Web.Pages.Auth.Login))
                {
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(AuthLayout)" />
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                }
                else
                {
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <RedirectToLogin />
                        </NotAuthorized>
                    </AuthorizeRouteView>
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                }
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Desculpe, não há nada neste endereço.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </AppInitializer>
</CascadingAuthenticationState>
