@using Hiper.Erp.Apresentacao.Web.Handlers

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType != typeof(Hiper.Erp.Apresentacao.Web.Pages.Auth.Login))
        {
            <RedirectToLogin />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Desculpe, não há nada neste endereço.</p>
        </LayoutView>
    </NotFound>
</Router>
